<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<h2>Registro de Usuário</h2>
<form th:action="@{/registro}" method="post">
    <div>
        <label>Nome:</label>
        <input type="text" name="nome" required/>
    </div>
    <div>
        <label>CPF:</label>
        <input type="text" name="cpf" required/>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email" required/>
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="senha" required/>
    </div>
    <div>
        <button type="submit">Registrar</button>
    </div>
    <div th:if="${error}">
        <p style="color: red;" th:text="${error}"></p>
    </div>
</form>
</body>
</html>